include db
include src/rfdoc/*.tmpl
prune src/rfdoc/rfdocsettings.py
include src/rfdoc/rfdocapp/templates/*.html
recursive-include atest *.tsv *.txt *.xml *.py *.db
prune atest/results
include COPYRIGHT.txt
include LICENSE.txt
include README.rst
include runserver.sh
